#legend {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: separate;
    border-spacing: 15px;
    width: 90%;
    height: 90%;
    font-size: 18pt;
    font-weight: bold;
    text-align: center;
}

#legend tr {
    height: 10px;
}

#heatmap tr {
    height: 40px;
    white-space: nowrap;
}

#heatmap td {
    /* border: 1px solid black; */
    padding: 5px;
    text-align: center;
}

#heatmap .label {
    font-size: 13pt;
    font-weight: bold;
    width: 185px;
}

#heatmap .labelx {
    font-size: 13pt;
    font-weight: bold;
    text-align: left;
    height: 70px;
}

#risks {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    border-collapse: collapse;
    width: 33%;
    height: 92%;
}

#risks th {
    background-color: #fcbf8d;
}

#risks td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

#risks tr:nth-child(even) {
    background-color: #ffebdb;
}